<p>categorias works!</p>

<!-- Recorremos el array de categorias y vamos mostrando por cada categoría una etiqueta <p> con su nombre y una etiqueta del componente hijo
    por cada palabra que contenga en el array de palabras -->
<div *ngFor="let categoria of categorias">
    <p>Nombre de la Categoria: {{categoria.name}}</p>
    <!-- Recordar que la propiedad / atributo de [name] debe llamarse igual en el componente hijo y que los [] son del databinding de Angular -->
    <app-palabras *ngFor="let palabra of categoria.palabras" [name]="palabra.name"></app-palabras>
</div>
